/* Master Custom Breakpoint */

.jltma-wrap{
	width: 79%;
	align-items: center;
	margin-left: auto; 
	margin-right: auto;
}

#master_cbp_table ul:nth-child(odd) {
	background: #fcfcff;
	border-bottom: 1px solid #ececec;
}

#master_cbp_table ul:nth-child(even) {
  background: #fff;

}

/* big */
@media screen and (min-width: 600px) {
	#master_cbp_table {
		display: table;
	}
	.jltma-wrap h2{
		font-size: 30px;
		padding: 30px 0 10px;
	}
	#master_cbp_table ul {
		display: table-row;
	}

	#master_cbp_table ul:first-child li {
		background-color: #f7f7fa;
		color: #90a4ae;
		padding: 30px;
		font-size: 1.3em;
		font-family: sans-serif,'Poppins';
		line-height: 30px;
		border-bottom: none;    
	}

	#master_cbp_table ul > li {
		display: table-cell;
		padding: 30px;
	}

	.jltma-wrap .jltma-cbp-ex-imp-head{
		padding-top: 100px;
	}
	
	#master_cbp_table input[type=text],
	#master_cbp_table input[type=number],
	#master_cbp_table select{
		min-height: 45px;
		padding-left: 20px;
		border-radius: 22.5px;
		border: 1px solid #ededf2;
	}

	#master_cbp_table input[type=text]:focus,
	#master_cbp_table input[type=number]:focus,
	#master_cbp_table select:focus{
		box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.1) !important;
	}

	#master_cbp_table .button.button-primary{
	    border-radius: 50px;
	    font-size: 22px;
	    line-height: 25px;
	    padding: 2px 11px 5px;
	}
	.jltma-wrap .button.button-primary{
	    border-radius: 50px;
	    font-size: 16px;
	    padding: 5px 25px 5px;		
	}
	.jltma-wrap .button.button-primary:focus{
		box-shadow: none;
	}
	#master_cbp_table .jltma-cbp-remove{
		background: #f67373;
		border-color: #f67373;	
	}
	.jlmta-cbp-input-form .submit{
		float: right;
	}
	.jlmta-cbp-input-form .submit .button{
	    border-radius: 22.5px;
	    padding: 5px 20px;
	    font-size: 14px;
	    line-height: 30px;
	}
	.jlmta-cbp-input-form .jltma-cbp-add, .jltma-wrap .jltma-cbp-add{
		background: #6a14d1;
		border-color: #6a14d1;
	}
	.jlmta-cbp-input-form .jltma-cbp-save, .jltma-wrap .jltma-cbp-save{
		background: #e8156e;
		border-color: #e8156e;
	}
	.jlmta-cbp-input-form .button.button-primary:hover, .jltma-wrap .jltma-cbp-add:hover{
    	background: #41008e;
    	border-color: #41008e;
    	color: #fff;
    }
	.jlmta-cbp-input-form .submit .button.jltma-cbp-save:hover,.jltma-wrap .jltma-cbp-save:hover{
    	background: #fd1919;
    	border-color: #fd1919;
    	color: #fff;
    }

	.loading #master_cbp_table::before {
	  opacity: .5;
	  position: absolute;
	  content: "";
	  top: 0;
	  left: 0;
	  height: 100%;
	  width: 100%;
	  background-color: #fff;

	  -webkit-transition: opaicty .5s ease;
	  -o-transition: opaicty .5s ease;
	  transition: opaicty .5s ease;

	  z-index: 5;
	  border-radius: inherit; 
	}
	.jlmta-cbp-input-form .updated{
		opacity: 1;
	}
	.loading .jltma-spinner { display: block; }


}

/* small */
@media screen and (max-width: 599px) {
  #master_cbp_table ul {
    border: solid 1px #ccc;
    display: block;
    list-style: none;
    margin: 1em;
    padding: 0.5em 1em;
  }

  #master_cbp_table ul:first-child {
    display: none;
  }

  #master_cbp_table ul > li {
    display: block;
    padding: 0.25em 0;
  }

  #master_cbp_table ul:nth-child(odd) > li + li {
    border-top: solid 1px #ccc;
  }

  #master_cbp_table ul:nth-child(even) > li + li {
    border-top: solid 1px #eee;
  }

  #master_cbp_table ul > li:before {
    color: #000;
    content: attr(data-label);
    display: inline-block;
    font-size: 75%;
    font-weight: bold;
    text-transform: capitalize;
    vertical-align: top;
    width: 50%;
  }

  #master_cbp_table p {
    margin: -1em 0 0 50%;
  }
}

/* tiny */
@media screen and (max-width: 349px) {
  #master_cbp_table ul > li:before {
    display: block;
  }

  #master_cbp_table p {
    margin: 0;
  }
}

